/* GLOBAL STYLES */

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
}

html {
  background-color: #008080;
}

.logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 200px;
}

h1 {
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  text-align: center;
}

nav {
  font-size: 1.25rem;
  text-align: center;
  color: white;
  background-color: black;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  color: #FF1493;
  text-decoration: none;
  text-transform: uppercase;
  font weight: 700;
  min-width: 200px;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.current {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}


img {
  display: inline-block;
}

/* INDEX//HOME */
h3 {
  text-align: center;
}

.icon {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 50px;
}

footer {
  color: #FF1493;
  background-color: black;
  text-align: center;
  width: 100%;
}

/* ABOUT */

.about {
  transform: uppercase;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 3em;
  text-transform: uppercase;
}

.about-img {
  max-width: 800px;
}

/* LOCATION */
.map {
  text-align: center;
}


/* CONTACT */




/* MEDIA QUERIES
------------ */
@media (min-width: 900px)

@media (min-width: 430px max-width: 899px)

@media (max-width: 429px)
